#close-info-btn {
    position: absolute;
    right: 10px;
    top: 10px;

    i {
        font-size: 1.5rem;
    }
}

#fade-background {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.4);
}

#info-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px 0 20px;
    overflow: auto;

    p {
        margin-bottom: 0.3rem;
    }
}

#ingredients {

    font-size: 0.8rem;
    overflow-y: scroll;

}

#more-information {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    height: 80%;
    max-height: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    h4 {
        font-size: 1.2rem;
        font-weight: 700;
    }

    img {
        width: 100%;
        max-width: 100%;
        height: 50%;
        object-fit: cover;
        border-bottom: black 2px solid;
        border-radius: 10px 10px 0 0;
        margin: 0 0 10px;
    }
}

#price {
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    font-size: 0.8rem;
    font-weight: 700;
}

@media screen and (min-width: 410px) {

    #more-information {
        height: 70%;
    }

}

@media screen and (min-width: 460px) {

    #info-text {
        margin: 15px 0 25px;
    }
}

@media screen and (min-width: 768px) {

    #more-information {

        height: 80%;

        img {
            height: 60%;
        }
    }
}

@media screen and (min-width: 992px) {

    #info-text {
        width: 90%;
    }

    #ingredients {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
}