@import"header", "nav", "main", "information-box", "confirmation-box", "cart", "checkout";

body {
    background-color: rgb(91, 91, 91);
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(32, 34, 37);
        height: 60px;
        color: lightgray;
        font-size: 0.8rem;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;

        a {
            text-decoration: none;
            color: lightgray;

            &:hover {
                color: #0aa30a;
            }
        }

        span {
            margin: 0.2rem 0 0;
        }

        span:nth-child(2) {
            margin: 0.3rem 0 0.2rem;
            font-size: 0.7rem;
            color: rgb(91, 91, 91);

            a {
                color: rgb(91, 91, 91);
            }
        }
    }
}

@media screen and (min-width: 480px) {
    body {
        header {
            #intro {
                #intro1 {
                    font-size: 3rem;
                }

                #intro2 {
                    font-size: 4rem;
                }
            }
        }
    }
}


@media screen and (min-width: 576px) {
    body {
        header {
            #intro {
                #intro1 {
                    font-size: 4rem;
                }

                #intro2 {
                    font-size: 5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        header {
            #intro {
                #intro1 {
                    font-size: 5rem;
                }

                #intro2 {
                    font-size: 6rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    body {
        header {
            #intro {
                #intro1 {
                    font-size: 6rem;
                }

                #intro2 {
                    font-size: 7rem;
                }
            }
        }
    }
}