#activeCart {
    position: absolute;
    right: 0px;
    padding: 0px 1.5rem 5px 1.5rem;
    width: 100vw;
    top: 74px;
    height: 100vh;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    border-top: none;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;

    div {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
        padding-bottom: 10px;
        
        &:nth-child(2) {
            border-bottom: 2px solid black;
        }


        #listSpan {
            font-size: 2rem;
            color: rgb(244, 119, 9);
        }
    }

    #cartList {
        list-style: none;
        padding: 0px;
        width: 100%;
        text-align: left;
        margin-top: 2px;
        margin-bottom: 80px;

        #totalCost {
            font-size: 1.5rem;
            text-align: right;
            color: rgb(244, 119, 9);
        }

        li {
            border-bottom: 0.5px solid rgb(167, 167, 167);
            padding: 2px 0px 2px 1rem;
            min-width: 100px;

            i {
                background: none;
                border: none;
                font-size: 1.5rem;
                bottom: 7px;
                padding: 5px;
                float: left;
                color: black;

                &:hover {
                    color: rgb(244, 119, 9);
                    cursor: pointer;
                }
            }

            .cartItem1 {
                text-align: left;
                font-size: 1.2rem;
                width: 100%;
                display: inline-block;
            }

            .cartItem2 {
                display: flex;
                justify-content: space-between;

                span {
                    display: flex;
                    align-items: center;
                }
            }

            .cartItem3 {
                text-align: right;
                color: rgb(244, 119, 9);
                font-size: 1.5rem;
                width: 100%;
                display: inline-block;
            }
        }
    }
}

#cart {
    margin-right: 1.5rem;
    background: none;
    border: none;
    font-size: 2rem;
    padding: 5px;
    color: white;

    &:hover {
        color: rgb(244, 119, 9);
    }

    #cartNumber {
        font-size: 1rem;
        color: white;
        background-color: red;
        padding: 4px 6px;
        border-radius: 50%;
        position: relative;
        bottom: 1.5rem;
        right: 10px;
    }
}

#cartPay {
    background: rgb(244, 119, 9);
    padding: 0.4rem 0.7rem;
    color: white;

    &:hover {
        background: black;
        border: 2px solid black;

        i {
            animation: cartAnimation 1s 0s infinite alternate;
            position: relative;

            @keyframes cartAnimation {
                0% {
                    left: 0px;
                }

                100% {
                    left: 10px;
                }

            }
        }
    }
}

#checkout-btns {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

#checkout-cart {

    margin: 0 0 20px 0;

    h4 {
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
    }

    p {
        font-size: 1.5rem;
    }
}

#checkout-cart-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 5px 0;

    li {
        background-color: rgb(194, 192, 192);
        padding: 0.4rem;
        margin: 2px 0;
        display: flex;
        justify-content: space-between;

        span {
            display: flex;
            justify-content: center;
            width: 20%;

            span {
                width: 50%;
            }
        }
    }

    li:nth-child(1) {
        background-color: white;
        padding: 0.2rem 0.4rem;
        font-weight: 500;
        letter-spacing: 0.05rem;
    }
}

#empty-cart {
    padding: 0.4rem 0.7rem;
    background-color: black;
    color: white;

    &:hover {
        background-color: white;
        border: 2px solid black;
        color: black;
    }
}

#total-cost {
    font-weight: 500;
    letter-spacing: 0.05rem;
    padding: 0 0.4rem;
}

@media screen and (max-width: 480px) {

    #activeCart {
        width: 100vw;

        #cartList {

            li {
                padding-left: 0px;

                i {
                    font-size: 1.2rem;
                }

                .spanItem3 {
                    font-size: 1.2rem;
                }
            }
        }

        #checkout-cart-list {
            li {
                span {
                    width: 25%;
                }
            }
        }
    }
}

@media screen and (min-width: 480px) {

	#activeCart {
		width: 75vw;
	}	
}

@media screen and (min-width: 600px) {

	#activeCart {
		width: 50vw;
	}
}

@media screen and (min-width: 768px) {

	#activeCart {
		max-width: 50vw;
		width: 25rem;
	}
}