#cartPay {
    background: rgb(10, 163, 10);
    padding: 0.4rem 0.7rem;
    color: white;
    
    &:hover {
        i {
            animation: cartAnimation 1s 0s infinite alternate;
            position: relative;
            
            @keyframes cartAnimation {
                0% {
                    left: 0px;
                } 
                100% {
                    left: 10px;
                }
                
            }
        }
    }
}

#checkout-btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

#checkout-cart {
    h4 {
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
    }

    margin: 0 0 20px 0;
}

#checkout-cart-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 5px 0;

    li {
        background-color: rgb(194, 192, 192);
        padding: 0.4rem;
        margin: 2px 0;
        display: flex;
        justify-content: space-between;

        span {
            display: flex;
            justify-content: center;
            width: 20%;

            span {
                width: 50%;
            }
        }
    }

    li:nth-child(1) {
        background-color: white;
        padding: 0.2rem 0.4rem;
        font-weight: 500;
        letter-spacing: 0.05rem;
    }
}

#empty-cart {
    padding: 0.4rem 0.7rem;
    background-color: red;
    color: white;
}



#total-cost {
    font-weight: 500;
    letter-spacing: 0.05rem;
    padding: 0 0.4rem;
}

@media screen and (max-width: 480px) {
    #checkout-cart-list { 
        li {
            span {
                width: 25%;
            }
        }
    }
}