#form {

    #formTitle {
        font-size: 1.5rem;
        display: block;
        color: black;
    }
}

@media screen and (min-width: 992px) {

    .checkout-section {
        margin: 0 10%;
    }
    
}

