nav {
    border-bottom: 1px solid black;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: rgb(32, 34, 37);
    scroll-snap-align: end;

    h1 {
        margin: 0px;
        padding-left: 1rem;
        font-family: 'Noto Serif Georgian', serif;
        transition: all 0.5s;
        color: lightgray;
        background-image: url("./images/MixedCandy.jpg");
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: left;
        -webkit-text-stroke: 0.5px lightgray;

        a {
            text-decoration: none;
            color: lightgray;
            font-family: 'Noto Serif Georgian', serif;
            transition: all 0.5s;

            &:hover {
                color: white;
            }

            i {
                padding-left: 1rem;
                opacity: 0;
                animation: h1Animation 0.5s 0s 1 alternate;
                position: relative;
                animation-fill-mode: backwards;
                font-size: 2rem;
                transform: translateY(-3px);

                @keyframes h1Animation {
                    0% {
                        right: 8px;
                        color: white;
                        opacity: 1;
                    }

                    100% {
                        right: 0px;
                        opacity: 0;
                    }
                }
            }

            &:hover {
                i {
                    animation: h1AnimationReverse 0.5s 0s 1 alternate;
                    position: relative;
                    animation-fill-mode: forwards;

                    @keyframes h1AnimationReverse {
                        0% {
                            right: 0px;
                            opacity: 0;
                        }

                        100% {
                            right: 8px;
                            color: white;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 480px) {
    nav {
        h1 {
            font-size: 2.5rem;
        }

        #activeCart {
            width: 75vw;
        }
    }
}

@media screen and (min-width: 576px) {
    nav {
        #activeCart {
            width: 75vw;
        }
    }
}

@media screen and (min-width: 768px) {
    nav {
        #activeCart {
            max-width: 50vw;
            width: 25rem;
        }
    }
}