@import"information-box", "confirmation-box", "cart";


body {
	background-color: rgb(91, 91, 91);
	background-image: url("./images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;


header {
	border-bottom: 1px solid black;
	position: sticky;
	top: 0px;
	z-index: 1;
	background-color: rgb(32, 34, 37);
	
	h1 {
		margin: 0px;
		padding-left: 1rem;
		font-family: 'Noto Serif Georgian', serif;
		transition: all 0.5s;
		color: lightgray;
		background-image: url("./images/MixedCandy.jpg");
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-position: left;
		-webkit-text-stroke: 0.5px lightgray;
		
		a {
			text-decoration: none;
			color: lightgray;
			font-family: 'Noto Serif Georgian', serif;
			transition: all 0.5s;
			
			&:hover {
				color: white;
			}
			
			i {
				opacity: 0;
				animation: h1Animation 0.5s 0s 1 alternate;
				position: relative;
				animation-fill-mode: backwards;
				font-size: 2rem;
				transform: translateY(-3px);
				@keyframes h1Animation {
					0% {
						right: 8px;
						color: white;
						opacity: 1;
					} 
					100% {
						right: 0px;
						opacity: 0;
					}
				}
			}
			&:hover {
				i {
					animation: h1AnimationReverse 0.5s 0s 1 alternate;
					position: relative;
					animation-fill-mode: forwards;
					@keyframes h1AnimationReverse {
						0% {
							right: 0px;
							opacity: 0;
						} 
						100% {
							right: 8px;
							color: white;
							opacity: 1;
						}
					}
				}
			}
		}
	}
	
	#cart {
		margin-right: 1.5rem;
		background: none;
		border: none;
		font-size: 2rem;
		padding: 5px;
		color: lightgray;
		
		&:hover {
			color: white;
		}
		#cartNumber {
			font-size: 1rem;
			color: white;
			background-color: red;
			padding: 4px;
			border-radius: 50%;
			position: relative;
			bottom: 1.5rem;
			right: 10px;
		}
	}
	#activeCart {
		position: absolute;
		right: 0px;
		padding: 0px 0px 5px 0px;
		width: 100vw;
		top: 75px;
		height: 100vh;
		z-index: 1;
		background-color: rgb(66, 66, 66);
		color: lightgray;
		border: 1px solid black;
		border-top: none;
		text-align: center;
		overflow-y: scroll;
		overflow-x: hidden;
		
		div {
			position: sticky;
			top: 0px;
			z-index: 1;
			padding-bottom: 5px;
			border-bottom: 1px solid rgb(140, 140, 140);
			background-color: rgb(66, 66, 66);
			
			#listSpan {
				font-size: 2rem;
				color: white;
			}
			#cartPay {
				background: rgb(10, 163, 10);
				border: none;
				margin-left: 1rem;
				font-size: 1.5rem;
				padding: 2px 1rem;
				color: white;
				left: 1rem;
				border-radius: 10px;
				
				&:hover {
					i {
						animation: cartAnimation 1s 0s infinite alternate;
						position: relative;
						
						@keyframes cartAnimation {
							0% {
								left: 0px;
							} 
							100% {
								left: 10px;
							}
							
						}
					}
				}
			}
		} 
		#cartList {
			list-style: none;
			padding: 0px;
			width: 100%;
			text-align: left;
			margin-top: 2px;
			margin-bottom: 75px;
			padding: 0px 1.5rem;
			
			#totalCost {
				font-size: 1.5rem;
				color: rgb(0, 179, 0);
				text-align: right;
				
			}
			li {
				border-bottom: 0.5px solid rgb(140, 140, 140);
				padding: 2px 0px 2px 1rem;
				min-width: 100px;
				
				i {
					background: none;
					border: none;
					font-size: 1.5rem;
					bottom: 7px;
					padding: 5px;
					float: left;
					color: rgb(66, 66, 66);
					padding: 0px;
					border-radius: 50%;
				}
				.plusButton {
					background-color: rgb(0, 179, 0);
					font-size: 1.5rem;
					border: 1px solid rgb(0, 179, 0);
					
					&:hover {
						background-color: rgb(66, 66, 66);
						color: rgb(0, 179, 0);
					}
				}
				.minusButton {
					background-color: red;
					font-size: 1.5rem;
					margin-left: 10px;
					border: 1px solid red;
					
					&:hover {
						background-color: rgb(66, 66, 66);
						color: red;
					}
				}
				.removeButton {
					float: right;
					color: white;
					
					&:hover {
						color: red;
					}
				}
				.cartItem1 {
					text-align: left;
					font-size: 1.2rem;
					width: 100%;
					display: inline-block;
					color: white;
				}
				.cartItem2 {
					text-align: left;
					font-weight: lighter;
					font-size: 1.1rem;
					width: 100%;
					display: inline-block;
				}
				.cartItem3 {
					text-align: right;
					color: rgb(0, 179, 0);
					font-size: 1.5rem;
					width: 100%;
					display: inline-block;
				}
			}
		}
	}
}

#main {
	background-color: rgb(91, 91, 91);
	h2 {
		color: white;
	}
	.amountOfProduct {
		color: lightgray;
		margin-bottom: 5px;
	}
	#hide {
		display: none;
	}
	#continueShopping {
		background: none;
		border: none;
		font-size: 1.5rem;
		text-align: left;
		max-width: fit-content;
		float: left;
		margin-bottom: 1rem;
		color: rgb(105, 105, 105);
		
		i {
			animation: formAnimation 0.5s 0s 1 alternate;
			position: relative;
			animation-fill-mode: backwards;
			@keyframes formAnimation {
				0% {
					right: 10px;
					color: black;
				} 
				100% {
					right: 0px;
				}
			}
		}
		&:hover {
			i {
				animation: formAnimationHover 0.5s 0s 1 alternate;
				position: relative;
				animation-fill-mode: forwards;
				@keyframes formAnimationHover {
					0% {
						right: 0px;
					} 
					100% {
						right: 10px;
						color: black;
					}
				}
			}
		}
	}
	
	#showMoreDiv {
		color: lightgray;
		width: fit-content;
		margin: 2rem;
		text-align: center;
		#showMoreButton {
			border: 1px solid lightgray;
			border-radius: 15px;
			background: none;
			padding: 1rem;
			margin-top: 10px;
			color: lightgray;
			transition: all 0.5s;
			animation: showMoreAnimation 0.5s 0s 1 alternate;
			animation-fill-mode: backwards;
			
			@keyframes showMoreAnimation {
				0% {
					color: white;
					margin-top: 15px;
				} 
				100% {
					color: lightgray;
				}
			}
			
			&:hover {
				animation: showMoreAnimationReverse 0.5s 0s 1 alternate;
				position: relative;
				animation-fill-mode: forwards;
				@keyframes showMoreAnimationReverse {
					0% {
						color: lightgray;
					} 
					100% {
						color: white;
						margin-top: 15px;
					}
				}
			}
		}
	}

	#grid {
		gap: 0.5rem;

		.card {
			padding: 0px;
			border: 1px solid lightgray;
			background-color: white;
			height: 350px;

			img {
				width: 130px;
				height: 130px;
				margin: auto;
			}

			.card-body {
				border: none;
				padding: 0px 2px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;

				.card-title {
					font-size: 1.3rem;
					margin: 0px;
					justify-self: flex-start;
					align-self: flex-start;
				}
				.priceTitles {
					margin: 0px 0px 8px 0px;
					color: rgb(66, 66, 66);
				}
				button {
					width: 100%;
					align-self: flex-end;
					margin-bottom: 3px;
				}
			}
		}
	}
	section {
		
		#checkout-cart {
			p {
				font-size: 1.5rem;
			}
		}
	}
	
	#form {
		
		#formTitle {
			font-size: 1.5rem;
			display: block;
			color: black;
		}
	}
	
}
}
div.Cardsbox {
	display: block;
}
div.hideDescription {
		display: none;
}
#btn {
	margin-inline: auto;
}
	@media screen and (max-width: 480px) {
		header {
			#activeCart {
				width: 100vw;
				#cartList {
					
					li {
						padding-left: 0px;
						
						i {
							font-size: 1.2rem;
						}
						.spanItem3{
							font-size: 1.2rem;
						}
					}
				}
			}
		}
	}
	
	@media screen and (min-width: 480px) {
		header {
			h1 {
				font-size: 2.5rem;
			}
			#activeCart {
				width: 75vw;
			}
		}
		main {
			#grid {
				.card {
					img {
						width: 90%;
						height: auto;
					}
				}
			}
		}
	}
	
	
	@media screen and (min-width: 576px) {
		header {
			#activeCart {
				width: 50vw;
			}
		}
	}
	
	@media screen and (min-width: 768px) {
		body {
			header {
				#activeCart {
					max-width: 50vw;
					width: 25rem;
				}
			}
			#main {
				width: 90%;
				padding: 0px;
			}
		}
	}