@import"information-box", "confirmation-box", "cart", "checkout";

body {
    background-color: #26aadb;
    color: black;
    font-family: 'Raleway', sans-serif;
}

nav {
	// border-bottom: 2px solid rgb(9, 213, 244);
	margin-bottom: 1rem;
	position: sticky;
	top: 0px;
	z-index: 1;
    background-color: #0d0d0d;

	h1 {
		margin: 0px 0px 0px 1rem;
		font-family: 'Limelight', cursive;
		letter-spacing: 0.15rem;
		transition: all 0.5s;
		
		a {
			text-decoration: none;
			color: white;
			transition: all 0.5s;
			cursor: pointer;

			&:hover {
				color: rgb(244, 119, 9);
			}
			
			i {
				padding-left: 1rem;
				opacity: 0;
				animation: h1Animation 0.5s 0s 1 alternate;
				position: relative;
				animation-fill-mode: backwards;
				font-size: 2rem;
				transform: translateY(-3px);
				@keyframes h1Animation {
					0% {
						right: 10px;
						color: rgb(244, 119, 9);
						opacity: 1;
					} 
					100% {
						right: 0px;
						opacity: 0;
					}
				}
			}
			
			&:hover {
				i {
					animation: h1AnimationReverse 0.5s 0s 1 alternate;
					position: relative;
					animation-fill-mode: forwards;
					@keyframes h1AnimationReverse {
						0% {
							right: 0px;
							opacity: 0;
						} 
						100% {
							right: 10px;
							color: rgb(244, 119, 9);
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

main {
	#hide {
		display: none;
	}

	#continueShopping {
		background: none;
		border: none;
		font-size: 1.5rem;
		text-align: left;
		max-width: fit-content;
		float: left;
		margin-bottom: 1rem;
		color: black;
		
		i {
			animation: formAnimation 0.5s 0s 1 alternate;
			position: relative;
			animation-fill-mode: backwards;
			@keyframes formAnimation {
				0% {
					right: 10px;
					color: white;
				} 
				100% {
					right: 0px;
				}
			}
		}
		&:hover {
			i {
				animation: formAnimationHover 0.5s 0s 1 alternate;
				position: relative;
				animation-fill-mode: forwards;
				@keyframes formAnimationHover {
					0% {
						right: 0px;
					} 
					100% {
						right: 10px;
						color: white;
					}
				}
			}
		}
	}

	#showMoreDiv {
		width: fit-content;
		margin: 2rem;
		text-align: center;

		#showMoreButton {
			background-color: white;
			border: none;
			border-radius: 15px;
			padding: 1rem;
			margin-top: 10px;
			font-weight: 600;

			&:hover {
				background-color: rgb(244, 119, 9);
				color: white;
			}
		}
	}
}

div.Cardsbox {
	display: block;
	}
	div.hideDescription {
		display: none;
	}
	#btn {
		margin-inline: auto;
        color: black;
}

#product-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 600;

	h2 {
		font-weight: 600;
		padding-top: 0.2rem;
	}

	div {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 10px 0;

		span {
			padding: 0 10px;
		}
	}
}

@media screen and (min-width: 768px) {

	header {
		height: 300px;
		background: url(images/candy-hero-img.jpg) no-repeat center;
	}
}

@media screen and (max-width: 768px) {
	
	.fa-house {
		display: none;
	}
}